*~
tags
build
.Rbuild*
CMakeFiles
CMakeCache.txt
Makefile
*.log
*.swp
*.status
Makevars
svn.ignore
cmake_install.cmake
CTestTestfile.cmake
*.pyc
*.o
*.diff
*.so
*.eps
*.dvi
*.sty
*.aux
install_manifest.txt
Testing
biolib_example.py
*.pm
*_wrap.c
*_wrap.cxx
biolib_python*.py
html
pkg
*.gem
*.tgz
*.tmp
MQMmain.cpp
*.orig
src/standalone.lst
src/standalone.patch
src/sMQM
tests/junk*
tools
mqm
qtl*gz
*.exe
*.EXE
*.dll
*.DLL
*.Rout
contrib/bin/mqmdebugout
..Rcheck/
inst/doc/MQM-tour.tex
inst/doc/MQM-tour.txt
inst/doc/MQM-tour.R
inst/doc/Sources/MQM/MQM-tour.R
*.pdf
*.tex
