useDynLib(qtl)

# Export all names
exportPattern(.)

# Import package dependencies
import(graphics, stats, utils)


#export(-.scanone, -.scanoneperm, -.scantwo, -.scantwoperm, 
#       [.cross, [.map, [.scanoneperm, [.scantwoperm, 
#                                       +.scanone, +.scanoneperm, +.scantwo, +.scantwoperm, 
#                                       add.cim.covar, add.threshold, addcovarint, addint, 
#                                       addloctocross, addmarkerstointervalmap, addpair, addqtl, 
#addtoqtl, adjust.rf.ri, allchrsplits, argmax.geno, 
#asnumericwithdec, bayesint, c.cross, c.scanone, 
#c.scanoneperm, c.scantwo, c.scantwoperm, calc.errorlod, 
#calc.genoprob, calc.genoprob.special, calc.pairprob, calc.penalties, 
#calc.plod, calcPermPval, calculatedensity, cbind.scanone, 
#cbind.scanoneperm, cbind.scantwo, charround, checkAlleles, 
#checkcovar, checkdistances, checkformula, checkPhyloCrosses, 
#checkPhyloPartition, checkStepwiseqtlStart, chrlen, chrnames, 
#cim, circlelocations, clean, clean.cross, 
#clean.scantwo, cleanGeno, comparecrosses, comparegeno, 
#compareorder, condense, condense.scantwo, convert, 
#convert.map, convert.scanone, convert.scantwo, convert2riself, 
#convert2risib, convert2sa, convertMWril, countqtlterms, 
#countXO, create.map, deparseQTLformula, discan, 
#drawcirculargenome, drawspline, drop.dupmarkers, drop.markers, 
#drop.nullmarkers, dropfromqtl, dropfromqtlformula, droponemarker, 
#dropXcol, effectplot, effectplot.calmeanse, effectplot.getmark, 
#effectscan, est.map, est.rf, estimatemarkerlod, 
#expandf2covar, fill.geno, find.flanking, find.marker, 
#find.markerindex, find.markerpos, find.pheno, find.pseudomarker, 
#find.pseudomarkerpos, findDupMarkers, fitqtl, fitqtlengine, 
#fitstahl, fitstahl.este, fitstahl.este.sub, fitstahl.estp, 
#fitstahl.estp.sub, fitstahl.estpe, fitstahl.estpe.sub, fixX4write, 
#fixXgeno.bc, fixXgeno.f2, flipcross, formLinkageGroups, 
#genAllPartitions, geno.crosstab, geno.image, geno.table, 
#genotab.em, getChr, getchromosomelength, getgenomelength, 
#getgenonames, getid, getsex, getThird, 
#grab.arg.names, groupclusteredheatmap, imf.cf, imf.h, 
#imf.k, imf.m, imf.stahl, inferredpartitions, 
#interpmap, interpmap4scantwo, jittermap, LikePheVector, 
#locatemarker, locateXO, locationtocircle, lodint, 
#loopthroughmulti, makeqtl, makeSSmap, markerforwsel, 
#markerforwself2, markerloglik, markerlrt, markernames, 
#matchchr, max.scanone, max.scanPhyloQTL, max.scantwo, 
#max.scantwocondensed, mf.cf, mf.h, mf.k, 
#mf.m, mf.stahl, movemarker, mqm_version, 
#mqmaugment, mqmaugment_on_cofactors, mqmautocofactors, mqmextractmarkers, 
#mqmextractpseudomarkers, mqmfind.marker, mqmgetmodel, mqmpermutation, 
#mqmplot.circle, mqmplot.cistrans, mqmplot.clusteredheatmap, mqmplot.cofactors, 
#mqmplot.directedqtl, mqmplot.heatmap, mqmplot.multitrait, mqmplot.permutations, 
#mqmplot.singletrait, mqmprocesspermutation, mqmscan, mqmscanall, 
#mqmscanfdr, mqmsetcofactors, mqmtestnormal, mybinaryrep, 
#nchr, nind, nmar, nmissing, 
#nphe, nqrank, ntyped, orderMarkers, 
#orderMarkers.sub, ourline, ourstop, parseformula, 
#phenames, plot.cross, plot.effectscan, plot.errorlod, 
#plot.geno, plot.info, plot.map, plot.missing, 
#plot.pheno, plot.pxg, plot.qtl, plot.rf, 
#plot.rfmatrix, plot.scanone, plot.scanoneboot, plot.scanoneperm, 
#plot.scanPhyloQTL, plot.scantwo, plot.scantwoperm, plotLodProfile, 
#plotModel, polyplot, print.addcovarint, print.addint, 
#print.compactqtl, print.cross, print.map, print.qtl, 
#print.scanoneboot, print.scantwo, print.summary.addpair, print.summary.compactqtl, 
#print.summary.cross, print.summary.fitqtl, print.summary.map, print.summary.qtl, 
#print.summary.ripple, print.summary.scanone, print.summary.scanoneperm, print.summary.scantwo, 
#print.summary.scantwo.old, print.summary.scantwoperm, printQTLformulanicely, pull.geno, 
#pull.map, pull.markers, pull.pheno, pull.rf, 
#qtlByPartition, qtlformulasymmetric, qtlversion, rbind.scanoneperm, 
#rbind.scantwoperm, read.cro.qtlcart, read.cross, read.cross.csv, 
#read.cross.csvs, read.cross.gary, read.cross.karl, read.cross.mm, 
#read.cross.qtlcart, read.cross.qtx, read.map.qtlcart, read.maps.mm, 
#readMWril, refineqtl, reorderqtl, reorgRIargmax, 
#reorgRIdraws, reorgRIgenoprob, reorgRIpairprob, replace.map, 
#replacemap, replacemap.cross, replacemap.scanone, replacemap.scantwo, 
#replaceqtl, rescalemap, revisecovar, reviseqtlnuminformula, 
#revisescantwodf, reviseXdata, ripple, ripple.perm.sub, 
#ripple.perm1, ripple.perm2, rippleSnowCountxo, rippleSnowLik, 
#roundqtlpos, scanall, scanone, scanone.perm, 
#scanone.perm.engine, scanoneboot, scanoneXnull, scanPhyloQTL, 
#scanqtl, scantwo, scantwo.perm, scantwo.perm.engine, 
#scantwoperm2scanoneperm, scoremissingmarkers, shiftmap, sim.bcg, 
#sim.cross, sim.cross.4way, sim.cross.bc, sim.cross.f2, 
#sim.geno, sim.map, sim.ril, simFounderSnps, 
#simPhyloQTL, simulatemissingdata, snowCoreALL, snowCoreBOOT, 
#sortPhyloPartitions, stepsize, stepwiseqtl, stringPhenoToInt, 
#strip.partials, subrousummaryscantwo, subset.cross, subset.map, 
#subset.scanone, subset.scanoneperm, subset.scantwo, subset.scantwoperm, 
#summary.addcovarint, summary.addint, summary.compactqtl, summary.cross, 
#summary.fitqtl, summary.map, summary.qtl, summary.ripple, 
#summary.scanone, summary.scanoneboot, summary.scanoneperm, summary.scanPhyloQTL, 
#summary.scantwo, summary.scantwo.old, summary.scantwocondensed, summary.scantwoperm, 
#switch.order, switchAlleles, testchr, top.errorlod, 
#totmar, transformPheno, tryallpositions, typingGap, 
#vbscan, write.cross, write.cross.csv, write.cross.gary, 
#write.cross.mm, write.cross.qtlcart, xaxisloc.scanone)
